@import '../_more';


/***********************
testing CSS3 misc-mixins
***********************/
.border-radius {
    .border-radius(1px 2px 3px 4px;);
}

.box-shadow {
    .box-shadow(1px 0 2px rgba(0,0,0,0.3), 0 1px 2px rgba(255,0,0,0.3););
}

.box-sizing {
    .box-sizing(border-box);
}

.background-size {
    .background-size(10px auto, 100px auto;);
}

.calc {
    .calc(height;'100% - 10px');
    .calc(width;'50% - 20px');
}

.opacity {
    .opacity(0.4);
}

input {
    .placeholder(#aaa);
}

.text-overflow-ellipsis {
    .text-overflow(ellipsis);
}

/*****************************
testing CSS3 transition-mixins
*****************************/

.transition-oneline { /* currently fails */
    .transition(transform 200ms linear 400ms;);
}

.transition-separated {
    .transition-property(all);
    .transition-duration(200ms);
    .transition-timing-function(linear);
    .transition-delay(400ms);
}

.transition-prop-transform {
    .transition-property(transform;);
}
.transition-prop-mutli-with-transform {
    .transition-property(transform, color, height;);
}

.transition-prop-mutli-with-transform-and-boxShadow {
    .transition-property(transform, color, box-shadow;);
}

.transition-prop {
    .transition-property(height;);
}
.transition-multi {
    .transition-property(height, top, left;);
}
/****************************
testing CSS3 transform-mixins
****************************/

.transforms {
    .transform(translate(2px, 3px) rotate(3deg) scale(0.4));
}

/*******************
testing image-mixins
*******************/

.sprite-right{
    .sprites(
        '../img/sprite.png';
        auto;
        90px;
        30;
        one;
        two;
        three;);
}

.sprite-down{
    .sprites(
        '../img/sprite.png';
        90px;
        auto;
        30;
        four;
        five;
        six;);
}

/****************
testing keyframes
****************/

& {
    .keyframes(
        slideout;
        "0% {left: 0} 100% {left: 100%}")
}


& {
    /* @start testing pretty output (with newlines and 4-space-indents)*/
    @nl: `'\n'`;
    @t: '    ';
    @nlt: '@{nl}@{t}';
    @nltt: '@{nlt}@{t}';
    @step-1: "0% {@{nltt}left: -100%;@{nlt}}@{nlt}";
    @step-2: "100% {@{nltt}left: 0;@{nlt}}";
    .keyframes(slidein;"@{step-1}@{step-2}");
    /* @end testing pretty output (with newlines and 4-space-indents)*/
}

/************************
testing animation-library
************************/

& {.fade-in;}
& {.fade-out;}
& {.slide-out;}
& {.slide-out(top);}
& {.slide-in(right);}




& {
    @vendorPrefixes: -webkit-, -moz-, '';
    @step-1: "0%,100% {@{transform}:rotateX(0deg)}";
    @step-2: "50% {@{transform}:rotateX(-180deg)}";
    .for(@vendorPrefixes);.-each(@i) {
        @transform: '@{i}transform';
        .keyframes-prevendored(flip-x;"@{step-1}@{step-2";)
    }
}

