/***********************
testing CSS3 misc-mixins
***********************/
.border-radius {
  -webkit-border-radius: 1px 2px 3px 4px;
  -moz-border-radius: 1px 2px 3px 4px;
  border-radius: 1px 2px 3px 4px;
}
.box-shadow {
  -webkit-box-shadow: 1px 0 2px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(255, 0, 0, 0.3);
  -moz-box-shadow: 1px 0 2px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(255, 0, 0, 0.3);
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(255, 0, 0, 0.3);
}
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.background-size {
  -webkit-background-size: 10px auto, 100px auto;
  -moz-background-size: 10px auto, 100px auto;
  -o-background-size: 10px auto, 100px auto;
  background-size: 10px auto, 100px auto;
}
.calc {
  height: -webkit-calc(100% - 10px);
  height: -moz-calc(100% - 10px);
  height: calc(100% - 10px);
  width: -webkit-calc(50% - 20px);
  width: -moz-calc(50% - 20px);
  width: calc(50% - 20px);
}
.opacity {
  opacity: 0.4;
}
input::-webkit-input-placeholder {
  color: #aaa;
  font-size: 20px;
}
input::-ms-input-placeholder {
  color: #aaa;
  font-size: 20px;
}
input::-moz-placeholder {
  color: #aaa;
  font-size: 20px;
}
input:-moz-placeholder {
  color: #aaa;
  font-size: 20px;
}
.text-overflow-ellipsis {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  white-space: no-wrap;
  word-wrap: normal;
}
/*****************************
testing CSS3 transition-mixins
*****************************/
.transition-oneline {
  -webkit-transition: -webkit-transform 200ms linear 400ms;
  -moz-transition: -moz-transform 200ms linear 400ms;
  -o-transition: -o-transform 200ms linear 400ms;
  transition: transform 200ms linear 400ms;
}
.transition-oneline {
  -webkit-transition: -webkit-transform 200ms, height 500ms;
  -moz-transition: -moz-transform 200ms, height 500ms;
  -o-transition: -o-transform 200ms, height 500ms;
  transition: transform 200ms, height 500ms;
}
.transition-oneline {
  -webkit-transition: -webkit-transform 200ms linear, height 500ms linear, -webkit-box-shadow 500ms linear, opacity 500ms linear;
  -moz-transition: -moz-transform 200ms linear, height 500ms linear, -moz-box-shadow 500ms linear, opacity 500ms linear;
  -o-transition: -o-transform 200ms linear, height 500ms linear, -o-box-shadow 500ms linear, opacity 500ms linear;
  transition: transform 200ms linear, height 500ms linear, box-shadow 500ms linear, opacity 500ms linear;
}
.transition-separated {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 400ms;
  -moz-transition-delay: 400ms;
  -o-transition-delay: 400ms;
  transition-delay: 400ms;
}
.transition-prop-transform {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}
.transition-prop-mutli-with-transform {
  -webkit-transition-property: -webkit-transform, color, height;
  -moz-transition-property: -moz-transform, color, height;
  -o-transition-property: -o-transform, color, height;
  transition-property: transform, color, height;
}
.transition-prop-mutli-with-transform-and-boxShadow {
  -webkit-transition-property: -webkit-transform, color, -webkit-box-shadow;
  -moz-transition-property: -moz-transform, color, -moz-box-shadow;
  -o-transition-property: -o-transform, color, -o-box-shadow;
  transition-property: transform, color, box-shadow;
}
.transition-prop {
  -webkit-transition-property: height;
  -moz-transition-property: height;
  -o-transition-property: height;
  transition-property: height;
}
.transition-multi {
  -webkit-transition-property: height, top, left;
  -moz-transition-property: height, top, left;
  -o-transition-property: height, top, left;
  transition-property: height, top, left;
}
/*****************************
testing CSS3 animation-mixins
*****************************/
.animation-oneline {
  -webkit-animation: test-animation 200ms linear 200ms;
  -moz-animation: test-animation 200ms linear 200ms;
  animation: test-animation 200ms linear 200ms;
}
.animation-delay {
  -webkit-animation-delay: 200ms;
  -moz-animation-delay: 200ms;
  animation-delay: 200ms;
}
.animation-timing-function {
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}
.animation-timing-function {
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}
.animation-fill-mode {
  -webkit-animation-fill-mode: forward;
  -moz-animation-fill-mode: forward;
  animation-fill-mode: forward;
}
/****************************
testing CSS3 transform-mixins
****************************/
.transforms {
  -webkit-transform: translate(2px, 3px) rotate(3deg) scale(0.4);
  -moz-transform: translate(2px, 3px) rotate(3deg) scale(0.4);
  transform: translate(2px, 3px) rotate(3deg) scale(0.4);
}
.transforms {
  -webkit-transform: perspective(700px) rotate3d(1, 1, 0, 180deg);
  -moz-transform: perspective(700px) rotate3d(1, 1, 0, 180deg);
  transform: perspective(700px) rotate3d(1, 1, 0, 180deg);
}
/****************
testing gradients
****************/
.background-image {
  background-image: -webkit-linear-gradient(bottom, #000000, #ffffff) -webkit-radial-gradient(45px 45px, farthest-corner, #ffffff 0%, #000000 100%) url('test.png');
  background-image: -moz-linear-gradient(bottom, #000000, #ffffff) -moz-radial-gradient(45px 45px, farthest-corner, #ffffff 0%, #000000 100%) url('test.png');
  background-image: -o-linear-gradient(bottom, #000000, #ffffff) -o-radial-gradient(45px 45px, farthest-corner, #ffffff 0%, #000000 100%) url('test.png');
  background-image: linear-gradient(to top, #000000, #ffffff) radial-gradient(45px 45px, farthest-corner, #ffffff 0%, #000000 100%) url('test.png');
}
.background-image-top {
  background-image: -webkit-linear-gradient(bottom left, #000000, #ffffff);
  background-image: -moz-linear-gradient(bottom left, #000000, #ffffff);
  background-image: -o-linear-gradient(bottom left, #000000, #ffffff);
  background-image: linear-gradient(to top left, #000000, #ffffff);
}
.background-image-right-bottom {
  background-image: -webkit-linear-gradient(top right, #000000, #ffffff);
  background-image: -moz-linear-gradient(top right, #000000, #ffffff);
  background-image: -o-linear-gradient(top right, #000000, #ffffff);
  background-image: linear-gradient(to bottom right, #000000, #ffffff);
}
.background-image-right {
  background-image: -webkit-linear-gradient(left, #000000, #ffffff);
  background-image: -moz-linear-gradient(left, #000000, #ffffff);
  background-image: -o-linear-gradient(left, #000000, #ffffff);
  background-image: linear-gradient(to right, #000000, #ffffff);
}
.background-image-bottom {
  background-image: -webkit-linear-gradient(top, #000000, #ffffff);
  background-image: -moz-linear-gradient(top, #000000, #ffffff);
  background-image: -o-linear-gradient(top, #000000, #ffffff);
  background-image: linear-gradient(to bottom, #000000, #ffffff);
}
test-svg {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkaWVudCkiIC8+PC9zdmc+');
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, #ff0000));
  background-image: -webkit-linear-gradient(top, #000000, #ff0000);
  background-image: -moz-linear-gradient(top, #000000, #ff0000);
  background-image: -o-linear-gradient(top, #000000, #ff0000);
  background-image: linear-gradient(to bottom, #000000, #ff0000);
}
test-svg {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjEwMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmYwMDAwIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWRpZW50KSIgLz48L3N2Zz4=');
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #000000), color-stop(100%, #ff0000));
  background-image: -webkit-linear-gradient(top right, #000000, #ff0000);
  background-image: -moz-linear-gradient(top right, #000000, #ff0000);
  background-image: -o-linear-gradient(top right, #000000, #ff0000);
  background-image: linear-gradient(to bottom right, #000000, #ff0000);
}
test-svg {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0iZ3JhZGllbnQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiBjeD0iNTAlIiBjeT0iNTAlIiByPSI3NSUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjAwMDAiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkaWVudCkiIC8+PC9zdmc+');
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, from(#000000), to(#ff0000));
  background-image: -webkit-radial-gradient(closest-corner, #000000, #ff0000);
  background-image: -moz-radial-gradient(closest-corner, #000000, #ff0000);
  background-image: -o-radial-gradient(closest-corner, #000000, #ff0000);
  background-image: radial-gradient(closest-corner, #000000, #ff0000);
}
/****************
testing font-face
****************/
@font-face {
  font-family: myFont;
  src: url('fonts/myFont.eot');
  src: url('fonts/myFont.eot?#iefix') format('embedded-opentype'), url('fonts/myFont.woff') format('woff'), url('fonts/myFont.ttf') format('truetype'), url('fonts/myFont.svg#myFont') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*************
testing filter
*************/
.filter {
  -webkit-filter: grayscale(0.5) blur(10px);
  -moz-filter: grayscale(0.5) blur(10px);
  filter: grayscale(0.5) blur(10px);
}
/****************
testing keyframes
****************/
@-webkit-keyframes testanimation {
  0% {
    left: 0;
    -webkit-transform: translate(10px, 20px);
  }
  100% {
    left: 100%;
    -webkit-transform: translate(100px, 200px);
  }
}
@-moz-keyframes testanimation {
  0% {
    left: 0;
    -moz-transform: translate(10px, 20px);
  }
  100% {
    left: 100%;
    -moz-transform: translate(100px, 200px);
  }
}
@keyframes testanimation {
  0% {
    left: 0;
    transform: translate(10px, 20px);
  }
  100% {
    left: 100%;
    transform: translate(100px, 200px);
  }
}
/************************
testing animation library
************************/
@-webkit-keyframes slide-in {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
@-moz-keyframes slide-in {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
@keyframes slide-in {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
@-webkit-keyframes slide-out {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@-moz-keyframes slide-out {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes slide-out {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@-webkit-keyframes fade-in {
  0% {
    -webkit-opacity: 0;
  }
  100% {
    -webkit-opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    -moz-opacity: 0;
  }
  100% {
    -moz-opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  0% {
    -webkit-opacity: 1;
  }
  100% {
    -webkit-opacity: 0;
  }
}
@-moz-keyframes fade-out {
  0% {
    -moz-opacity: 1;
  }
  100% {
    -moz-opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*************
testing repeat
*************/
.test.test.test.test.test {
  float: right;
}
.test + .test + .test + .test + .test {
  float: right;
}
/***********
testing join
***********/
.animals:after {
  content: 'cat and tiger and lion';
}
/*******************
testing index (find)
*******************/
.tools:before {
  content: "1";
}
.fruits .banana:before {
  content: "3";
}
.fruits .orange:before {
  content: "@{@}-";
}
.fruits .tomato:before {
  content: "-1";
}
/*******************
testing inArray (in)
*******************/
.fruits .banana:before {
  content: "true";
}
.fruits .orange:before {
  content: "true";
}
.fruits .tomato:before {
  content: "false";
}
/**************
testing if-else
**************/
.log:before {
  content: "then";
}
.log:before {
  content: "then";
}
.log:before {
  content: "else";
}
.log:before {
  content: "else";
}
.log:before {
  content: "then";
}
.log:before {
  content: "then";
}
