// hacky ways to create loops in less
// this works in less 1.6.x
// earlier verions do not support some of the functionality


#function {
  .map (@property;
        @prefix;
        @suffix;
        @list...) {

    @length: length(@list);
    @ePrefix: e(@prefix);
    @eSuffix: e(@suffix);

    .for (@eq) when (@eq <= @length) {
      @listPart: extract(@list, @eq);
      @selector: extract(@listPart, 1);
      @value: extract(@listPart, 2);

      @{ePrefix}@{selector}@{eSuffix} {
        @{property}: @value;
      }

      .for (@eq + 1);
    }
    .for (1);
  }
}

#function {
  .loop (@property: background-image;
         @prefix: '.';
         @suffix: ' ';
         @valuePrefix: 'url(..img/';
         @valueSuffix: '.png)';
         @list) {

    @length: length(@list);
    @ePrefix: e(@prefix);
    @eSuffix: e(@suffix);
    @eValuePrefix: e(@valuePrefix);
    @eValueSuffix: e(@valueSuffix);

    .for (@eq) when (@eq <= @length) {
      @name: extract(@list, @eq);
      @value: e('@{eValuePrefix}@{name}@{eValueSuffix}');
      @{ePrefix}@{name}@{eSuffix} {
        @{property}: @value;
      }

      .for (@eq + 1);
    }
    .for (1);
  }
}


