#id-1 > span {
  background: #000000;
}
#id-2 > span {
  background: #111111;
}
#id-3 > span {
  background: #222222;
}
#id-4 > span {
  background: #333333;
}
.class-1:before {
  transform: translate3d(0, 3px, 10px);
}
.class-2:before {
  transform: translate3d(4px, 0, 0);
}
.class-3:before {
  transform: translate3d(3px, 0, 4px);
}
.class-4:before {
  transform: translate3d(3px, 10px, 0);
}
 div  {
  color: #ff0000;
}
 span  {
  color: #008000;
}
 strong  {
  color: #0000ff;
}
 em  {
  color: #ffff00;
}
.one  {
  background: transparent url(../one.png) center center no-repeat;
}
.two  {
  background: transparent url(../two.png) center center no-repeat;
}
.three  {
  background: transparent url(../three.png) center center no-repeat;
}
.a  {
  background-image: url(..img/a.png);
}
.b  {
  background-image: url(..img/b.png);
}
.c  {
  background-image: url(..img/c.png);
}
.class-1  {
  top: -1px;
}
.class-2  {
  top: -2px;
}
.class-3  {
  top: -3px;
}
.class-4  {
  top: -4px;
}
