.replace-me {
  background-image: url( '../img/replaced-you.png' );
}
.no-replace {
  background-image: url( '../img/no-replace.png' );
}
.class-5 {
  top: calc(100% - 500px);
}
.class-4 {
  top: calc(100% - 400px);
}
.class-3 {
  top: calc(100% - 300px);
}
.class-2 {
  top: calc(100% - 200px);
}
.class-1 {
  top: calc(100% - 100px);
}
.a {
  background-position: 101px 0px;
}
.b {
  background-position:  201px 0px;
}
.c {
  background-position:  301px 0px;
}
