/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: #dedede;
}
.animal {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  background: #ffffff;
  position: relative;
  font-weight: 700;
  font-family: sans-serif;
  font-size: 12px;
  margin: 10px;
  padding-right: 10px;
}
.animal:after,
.animal:before {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
}
.animal.alpaca:before {
  content: url('../images/alpaca.png');
}
.animal.alpaca:after {
  content: 'The alpaca  can be seen on a safari     ';
}
.animal.bat:before {
  content: url('../images/bat.png');
}
.animal.bat:after {
  content: 'The bat       ';
}
.animal.bear:before {
  content: url('../images/bear.png');
}
.animal.bear:after {
  content: 'The bear     can be dangerous lives in a forest ';
}
.animal.beaver:before {
  content: url('../images/beaver.png');
}
.animal.beaver:after {
  content: 'The beaver      lives in a forest ';
}
.animal.bee:before {
  content: url('../images/bee.png');
}
.animal.bee:after {
  content: 'The bee      lives in a forest ';
}
.animal.cat:before {
  content: url('../images/cat.png');
}
.animal.cat:after {
  content: 'The cat    can be held as a pet   ';
}
.animal.chicken:before {
  content: url('../images/chicken.png');
}
.animal.chicken:after {
  content: 'The chicken lives on a farm      is a bird';
}
.animal.cow:before {
  content: url('../images/cow.png');
}
.animal.cow:after {
  content: 'The cow lives on a farm      ';
}
.animal.crocodile:before {
  content: url('../images/crocodile.png');
}
.animal.crocodile:after {
  content: 'The crocodile  can be seen on a safari   can be dangerous  ';
}
.animal.dog:before {
  content: url('../images/dog.png');
}
.animal.dog:after {
  content: 'The dog lives on a farm   can be held as a pet   ';
}
.animal.duck:before {
  content: url('../images/duck.png');
}
.animal.duck:after {
  content: 'The duck lives on a farm      is a bird';
}
.animal.elasmosaurus:before {
  content: url('../images/elasmosaurus.png');
}
.animal.elasmosaurus:after {
  content: 'The elasmosaurus   is extinct    ';
}
.animal.elephant:before {
  content: url('../images/elephant.png');
}
.animal.elephant:after {
  content: 'The elephant  can be seen on a safari   can be dangerous  ';
}
.animal.giraffe:before {
  content: url('../images/giraffe.png');
}
.animal.giraffe:after {
  content: 'The giraffe  can be seen on a safari     ';
}
.animal.gnu:before {
  content: url('../images/gnu.png');
}
.animal.gnu:after {
  content: 'The gnu  can be seen on a safari   can be dangerous  ';
}
.animal.goat:before {
  content: url('../images/goat.png');
}
.animal.goat:after {
  content: 'The goat lives on a farm      ';
}
.animal.hippo:before {
  content: url('../images/hippo.png');
}
.animal.hippo:after {
  content: 'The hippo  can be seen on a safari   can be dangerous  ';
}
.animal.kangaroo:before {
  content: url('../images/kangaroo.png');
}
.animal.kangaroo:after {
  content: 'The kangaroo     can be dangerous  ';
}
.animal.leopard:before {
  content: url('../images/leopard.png');
}
.animal.leopard:after {
  content: 'The leopard  can be seen on a safari   can be dangerous  ';
}
.animal.lion:before {
  content: url('../images/lion.png');
}
.animal.lion:after {
  content: 'The lion  can be seen on a safari   can be dangerous  ';
}
.animal.monkey:before {
  content: url('../images/monkey.png');
}
.animal.monkey:after {
  content: 'The monkey  can be seen on a safari     ';
}
.animal.moose:before {
  content: url('../images/moose.png');
}
.animal.moose:after {
  content: 'The moose  can be seen on a safari     ';
}
.animal.mouse:before {
  content: url('../images/mouse.png');
}
.animal.mouse:after {
  content: 'The mouse lives on a farm   can be held as a pet  lives in a forest ';
}
.animal.owl:before {
  content: url('../images/owl.png');
}
.animal.owl:after {
  content: 'The owl lives on a farm     lives in a forest is a bird';
}
.animal.panda:before {
  content: url('../images/panda.png');
}
.animal.panda:after {
  content: 'The panda lives on a farm    can be dangerous  ';
}
.animal.peacock:before {
  content: url('../images/peacock.png');
}
.animal.peacock:after {
  content: 'The peacock       is a bird';
}
.animal.penguin:before {
  content: url('../images/penguin.png');
}
.animal.penguin:after {
  content: 'The penguin lives on a farm      is a bird';
}
.animal.pig:before {
  content: url('../images/pig.png');
}
.animal.pig:after {
  content: 'The pig lives on a farm      ';
}
.animal.prontosaurus:before {
  content: url('../images/prontosaurus.png');
}
.animal.prontosaurus:after {
  content: 'The prontosaurus   is extinct    ';
}
.animal.pterodactylus:before {
  content: url('../images/pterodactylus.png');
}
.animal.pterodactylus:after {
  content: 'The pterodactylus   is extinct    ';
}
.animal.rabbit:before {
  content: url('../images/rabbit.png');
}
.animal.rabbit:after {
  content: 'The rabbit lives on a farm   can be held as a pet  lives in a forest ';
}
.animal.rhino:before {
  content: url('../images/rhino.png');
}
.animal.rhino:after {
  content: 'The rhino  can be seen on a safari   can be dangerous  ';
}
.animal.sheep:before {
  content: url('../images/sheep.png');
}
.animal.sheep:after {
  content: 'The sheep lives on a farm      ';
}
.animal.squirrel:before {
  content: url('../images/squirrel.png');
}
.animal.squirrel:after {
  content: 'The squirrel lives on a farm     lives in a forest ';
}
.animal.tiger:before {
  content: url('../images/tiger.png');
}
.animal.tiger:after {
  content: 'The tiger  can be seen on a safari   can be dangerous  ';
}
.animal.trex:before {
  content: url('../images/trex.png');
}
.animal.trex:after {
  content: 'The trex   is extinct    ';
}
.animal.triceratops:before {
  content: url('../images/triceratops.png');
}
.animal.triceratops:after {
  content: 'The triceratops   is extinct    ';
}
.animal.turkey:before {
  content: url('../images/turkey.png');
}
.animal.turkey:after {
  content: 'The turkey lives on a farm      is a bird';
}
.animal.zebra:before {
  content: url('../images/zebra.png');
}
.animal.zebra:after {
  content: 'The zebra  can be seen on a safari     ';
}
