@import '../../fn/_in';

.prefix(...) {}
.prefix() {.prefix(' ')}
.prefix(@glue) {
    @needPrefix: transition-property, transition;

    .for(@vendorPrefixes); .-each(@i){
        .in(@needPrefix, @prop);
        .-return(@s) when not (@-){
            @return: @values;
        }
        .-return(@s) when (@-){
            @1: replace('@{values}', 'transform', '@{i}transform');
            @2: replace('@{1}', 'box-shadow', '@{i}box-shadow');
            @return: e(@2);
        }
        .-return(@values);
        @eProp: e('@{i}@{prop}');
        @{eProp}: @return;
    }
}