@import '../../fn/_for';

// MIXIN: .placeholder
.placeholder(@values) {
    @vendorPrefixes: ':-webkit-', ':-moz-', '-moz-', ':-ms-';
    // http://caniuse.com/#search=placeholder
    .for(@vendorPrefixes);.-each(@i) {
        @selector: e(':@{i}placeholder');
        &@{selector} {
            color: @values;
        }
    }
}