
// not happy with this yet but let’s keep it in here for now
// MIXIN: .keyframes
.keyframes(@name; @frames...) {
    @vendorPrefixes: -webkit-, -moz-, '';
    // http://caniuse.com/#search=animation

    // hacky stuff
    @nl: `'\n'`;
    @t: "    ";
    @comment-hack: e("/*");
    @null: e(" ");

    // beautify @frames
    @rules: '{@{nl}@{t}@{frames}@{nl}}@{nl}';

    .for(@vendorPrefixes);.-each(@i) {
        @keyframe-selector-hack: e('*/@{nl}@@{i}keyframes @{name} @{rules}/*');
        @{comment-hack}{@{null}: @keyframe-selector-hack}
        /**/
    }
}
